@{
    ViewData["Title"] = "Home Page";
}

<div class="text-stred">

    <img alt="Dots" class="d-obrazok" src="~/images/Dots_logo_2.png"/>

    <div class="menu">
        <div class="menu-tlacidlo">

            <a href="/Dots/" class="bodky"><span class="ikonka">Hrať</span></a>
            <br />
            <a href="/Home/Highscore" class="bodky"><span class="ikonka">Highscore</span></a>
        </div>


    </div>



</div>